[Unit]
Description=My Bluetooth Notification Service
After=multi-user.target

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi/
ExecStart=/usr/bin/python3 /home/pi/sample.py > /home/pi/sample.log 2>&1

[Install]
WantedBy=multi-user.target
